.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    max-width: 270px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;

    border-radius: 20px;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.3);

    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.flipped-card {
    transform: rotateY(180deg);
}

.flippable-card-container {
    perspective: 1000px;
    transition: transform 0.3s ease;
}

.primary-side,
.secondary-side {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
    border-radius: 20px;

    display: flex;
    justify-content: center;
}

.primary-side {
    background-image: conic-gradient(from 45deg,
        /* Left */ rgba(0, 0, 0, 0.2) 0deg 90deg,
        /* Top */ rgba(255, 255, 255, 0.1) 90deg 180deg,
        /* Right */ rgba(0, 0, 0, 0.2) 180deg 270deg,
        /* Bottom */ rgba(255, 255, 255, 0.1) 270deg 360deg
    );
}

.secondary-side {
    transform: rotateY(180deg);
}

.simple-cue,
.icon-cue,
.complex-cue {
    position: absolute;

    display: flex;
    justify-content: center;
}

.simple-cue {
    width: 270px;
    height: 20px;
}

.simple-bottom-edge {
    bottom: 0;
    margin-bottom: 5px;
}

.simple-left-edge {
    left: -125px;
    top: 124px;
    transform: rotate(90deg);
    margin-left: 5px;
}

.simple-top-edge {
    transform: rotate(180deg);
    margin-top: 5px;
}

.simple-right-edge {
    right: -125px;
    top: 127px;
    transform: rotate(-90deg);
    margin-right: 5px;
}

.icon-cue {
    width: 35px;
    height: 35px;
}

.icon-bottom-edge {
    bottom: 0;
    margin-bottom: 5px;
}

.icon-left-edge {
    left: 0;
    top: 124px;
    transform: rotate(90deg);
    margin-left: 5px;
}

.icon-top-edge {
    transform: rotate(180deg);
    margin-top: 5px;
}

.icon-right-edge {
    right: 0;
    top: 127px;
    transform: rotate(-90deg);
    margin-right: 5px;
}

.complex-cue {
    width: 270px;
    height: 50px;
}

.complex-bottom-edge {
    bottom: 0;
}

.complex-left-edge {
    left: -107px;
    top: 109px;
    transform: rotate(90deg);
}

.complex-top-edge {
    top: 3px;
    transform: rotate(180deg);
}

.complex-right-edge {
    right: -107px;
    top: 109px;
    transform: rotate(-90deg);
}

.cue-header {
    font-size: small;
    opacity: 0.5;
}

.cue-text-and-requires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cue-text {
    font-size: 0.8rem;
}

.cue-requires {
    display: flex;
    gap: 0.3rem;
    flex-direction: row;
}

.arrow {
    position: absolute;
    z-index: 2;
    
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    
    transition: color 0.6s ease, opacity 0.6s ease;
}

.arrow-left {
    top: 5px;
    left: 5px;
}

.arrow-right {
    top: 5px;
    right: 5px;
}
