.cluster-exterior {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px dotted black;
    
    width: 360px;
    height: 360px;
    max-height: 360px;
    max-width: 360px;
    
    pointer-events: none;
}

.cluster-interior {
    position: relative;
    
    width: 270px;
    height: 270px;
    margin: 40px;
}

.center {
    position: absolute;
    z-index: 5;
    pointer-events: auto;
}

.bottom {
    position: absolute;
    z-index: 4;
    bottom: -40px;
    pointer-events: auto;
}

.left {
    position: absolute;
    z-index: 3;
    left: -40px;
    pointer-events: auto;
}

.top {
    position: absolute;
    z-index: 2;
    top: -40px;
    pointer-events: auto;
}

.right {
    position: absolute;
    z-index: 1;
    right: -40px;
    pointer-events: auto;
}

@keyframes blinker {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
}

.blink_me {
    background-color: forestgreen;
    animation: blinker 1s linear infinite;
}
